@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scroll-behavior: smooth;
}

@keyframes addToCart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    color: var(--color-elementos-2);
  }
  100% {
    transform: scale(1);
  }
}

.cart-animation {
  animation: addToCart 0.5s ease-in-out;
}

@keyframes slide-to-left {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
.product-image{
  animation: both slide-to-left 0.4s ease-in;
}